body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
*{font-family: "PingFang SC";box-sizing:border-box}
/*,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial*/
li{list-style:none}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
button,input,select,textarea{font-size:100%}
legend{color:#000}
small{font-size:12px}
hr{border:none;height:1px}
a{text-decoration:none}
a:hover{text-decoration:none}

body{background-color:#fff}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    width: 100%;
    overflow: hidden;
}
/*路由动画*/
.fade-enter-active , .fade-leave-active {
  transition: all .4s linear; -webkit-transition: all .4s linear;-webkit-transform:translate3d(-20px, 0px, 0); transform:translate3d(-20px, 0px, 0)
}
.fade-enter, .fade-leave-to{
  opacity: 0;-webkit-transform:translate3d(0, 0px, 0); transform:translate3d(0, 0px, 0);
}
/*侧栏导航*/
.nav{ width:100%;height:106px !important; position:fixed; top:0px; left:0px;z-index:99;background-color: #fafafa;
    border-top:4px solid #096096;box-shadow:0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(66,66,66,0.1); z-index:99999;}

.nav-bar {
    height:100%;
   display:block !important;
    margin:0 auto;
    position:relative;
    float:none !important;
}
.container_article{margin:0 auto;float:none;margin-top:120px;overflow:hidden; box-sizing:border-box }
.mobile-nav-bar {
    float:left;
    /*display: none;*/
}
.nav-bar-inner {
    height:100%;
    width:80px;
    float:left;
    text-align: center;
    color: #32D3C3;
    font-size: 18px;
    position:absolute;
    left:0px; top:0px;
}
.nav-bar-inner > span {
    width: 85%;
    float: left;
}
.nav-bar-body {
    float:left;
    width:100%;
    height:64px;
    padding-left:100px;
    position:relative;

}
.nav-bar-body > ul {

}
.nav-bar-body > ul > li {
    height:100%;
    text-align: center;
    color: #666;
    font-size: 18px;
    padding-right: 20px;
    float:left;
}
.nav-bar-body .borderRightActive {
    border-right:4px solid #32D3C3;
    color: #32D3C3;
}
.navmenu{ width:100%;height:42px;position:absolute; bottom:0px;border-top:1px solid #eee}
.navmenu ul{overflow:hidden;height:100%}
.navmenu ul a{float:left; padding-left:12px; padding-right:12px; line-height:42px;}
.nav-bar-body > ul > li:hover {
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    color: #32D3C3;
    cursor: pointer;
    background-color: #26252f;
}
.nav-bar-footer {
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    color: #666;
    font-size: 13px;
}
/*页面主体*/
.main { background-color: #fff; }

.navmenu ul a:hover{background-color:#eee;border-radius:5px;  }

@media screen and (max-width: 768px){
    #app .nav-bar {
        height: 8vh;
    }
    .mobile-nav-bar {
        background-color: #fff;
        position: relative;
        z-index: 10;
        height: 12vh;
    }
    .mobile-nav-bar > ul > li {
        width: 50%;
        text-align: center;
        float: left;
        box-sizing: border-box;
        display: inline-block;
        padding: 1vh 0;
        border-bottom: 1px solid #ddd;
    }
    .mobile-nav-bar > ul > li > span {
        display: block;
        color: #999;
        text-align: center;
        line-height: 4vh;
        text-decoration: none;
    }
    .current {
        border-bottom-color: #32D3C3!important;
    }
    .current > span {
        color: #32D3C3!important;
    }
    .nav-bar-inner {
        height: 8vh!important;
        line-height: 8vh!important;
        text-align: left!important;
        padding: 0 10px;
        background-color: #1e1d26;
        color: #32D3C3;
        font-size: 18px;
    }
    .nav-bar-inner > div {
        float: right;
    }
    .nav-bar-body {
        display: none;
    }
    .nav-bar > .nav-bar-footer {
        display: none;
    }
    .bg-purple .el-tabs__header {
        display: none;
    }
}
/*code*/
.detail-body pre{background-color:#272822 !important;overflow:inherit !important; font-size:16px;position:relative;padding-left:42px !important; }
.detail-body pre:before{content:'';height:100%; width:28px; background-color:#373737;display:block;position:absolute; left:0px; top:0px;border-radius:0px 5px 5px 0px;overflow:hidden; box-shadow:1px 0px 2px rgba(36,36,36,.2)}
#articlesDetails{overflow:inherit !important;height:auto !important}
.detail-body pre code{color:#fff;}
/*style*/
#app{background-color:#f6f6f6}
.el-tabs__header{border:none}
.el-tabs__content{padding:0px 30px;margin-bottom:30px}

.artitem>div{ padding: 16px 20px 0;height:210px;overflow:hidden; background: #fff; border-top:1px solid rgba(151,151,151,.08); border-radius: 3px; box-shadow: 0 1px 2px rgba(151,151,151,.6);margin-bottom:30px;min-height:100px;position:relative;overflow:hidden}
.post-time{margin-top:-14px;color:#727272;  font-size:14px;}
.articles-box{ width:100%; margin-top:10px; margin-bottom:5px; text-align: center;height:138px;}
.scrollbottomtip{ font-size:18px; text-align:center;color:#666;height:24px;}
.post-time span{display:block;text-align:left}
.post-title{margin-top:20px;}
.post-title h1{color:#1F2D3D;font-weight:400; font-size:20px;text-align:left;min-height:52px; overflow:hidden}
.post-abstract{color:#666;text-align:left;margin-top:10px;max-height:42px;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.artitem_bottom{ width:100%;height:40px;overflow:hidden;position:relative;border-top:1px solid #eee;padding-top:10px;}
.avatar{float:left; width:30%;height:100%; }
.avatar a{display:inline-block;height:100%}
.avatar a img{float:left;height:80%}
.avatar a p{float:left;height:80%;display:none; font-size:14px; line-height:50px; margin-left:10px; color:#666}
.post-label-box{display:inline-block;position:absolute;right:0px; margin-top:2px;}
.post-label-box .post-label{background: #00abc0;padding:5px 12px;color:#fff; font-size:14px;}
.scrollbottomtip>div{ width:140px;margin:0 auto;}
.scrollbottomtip>div>p{ float:left; margin-left:14px;}
.scrollbottomtip>div>i{margin-top:4px; color:#999;}
.scrollbottomtipno{display:none !important}
.scrollload,.scrolltip{display:none}
.scrollloadlast{display:none !important}
.el-tab-pane .el-row{padding-bottom:30px;}
.el-tabs{margin-bottom:30px;}
.hide{display:none}
.lastpagetip{ width:100%;margin:0 auto; text-align:center; font-size:16px; color:#999; border-bottom:1px solid #eee; padding-bottom:6px;margin-bottom:-1px;}
.post-label:nth-child(2n){background-color:#58B7FF }
.post-label:nth-child(3n){background-color:#8492A6 }
#search{position:absolute; width:300px; right:200px;height:40px;margin-top:10px;}
.main{box-shadow:0px 1px 1px 1px rgba(110,110,110,.1);border-radius:3px;min-height:900px}
.artitem>div:before{    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.5); content: ''; -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0); transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);cursor:pointer }
.artitem>div:hover:before{-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out; -webkit-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,20%,0); transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,20%,0); background-color:rgba(255,255,255,.1)}
.artitem>div:hover{ background-color:#fafafa;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;box-shadow:0px 1px 1px 1px rgba(0,0,0,.1);border-top:1px solid #fff;border-radius:3px;}
.artitem{padding-top:4px;}
.articles-box{cursor:pointer}
.artitem:hover .post-title>h1{color:#1D8CE0 !important;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.artitem:hover{-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;-webkit-transform:translate3d(0,-3px,0);   }
#addacticlebtn{position:absolute; right:100px;margin-top:10px;}

/*滚动条样式*/
::-webkit-scrollbar { width: 9px; height: 9px; }
::-webkit-scrollbar-track-piece { background-color: transparent; }
body::-webkit-scrollbar-track-piece { background-color: rgba(0,0,0,.2); }
::-webkit-scrollbar-track-piece:no-button {}
::-webkit-scrollbar-thumb { background-color: rgba(0,0,0,.6); border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background-color:  rgba(0,0,0,.8); }
::-webkit-scrollbar-thumb:active { background-color: #666; }
::-webkit-scrollbar-button:vertical { width: 9px; }
::-webkit-scrollbar-button:horizontal { width: 9px; }
::-webkit-scrollbar-button:vertical:start:decrement { background-color: white; }
::-webkit-scrollbar-button:vertical:end:increment { background-color: white; }
::-webkit-scrollbar-button:horizontal:start:decrement { background-color: white; }
::-webkit-scrollbar-button:horizontal:end:increment { background-color: white; }

/*点击效果*/
.el-tabs__item{position:relative;overflow:hidden}
.el-tabs__item:after{content:"";background:rgba(50,211,195,0.44);display:block;position:absolute;border-radius:50%;padding-top:240%;padding-left:240%;margin-top:-120%;margin-left:-120%;opacity:0;transition:all .8s}
.el-tabs__item:active:after{padding-top:0;padding-left:0;margin-top:0;margin-left:0;opacity:1;transition:0s}
.el-tabs__active-bar{bottom:5px;}

.tagtitle{ width:120%; margin-left:-10%;padding-left:12%;height:100px;background-color:#2980b9;box-sizing:border-box}
.fadetitle{-moz-transition: all 0.6s ease-in-out;-o-transition: all 0.6s ease-in-out; -webkit-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out;opacity:1 !important; -webkit-transform:translate3d(0, 0, 0) !important;transform:translate3d(0, 0, 0) !important;}
.tagtitle{margin-bottom:40px;}
.tagtitle>p{ color:#fff; font-size:26px; font-weight:900;padding-top:30px;opacity:0; -webkit-transform:translate3d(0, -6px, 0);transform:translate3d(0, -6px, 0);}

@-webkit-keyframes zoomInDown{
    0%{ opacity:0; -webkit-transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0); transform:scale3d(.1, .1, .1) translate3d(0, -1000px, 0); -webkit-animation-timing-function:cubic-bezier(0.55, .055, .675, .19); animation-timing-function:cubic-bezier(0.55, .055, .675, .19) }
    60%{ opacity:1; -webkit-transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0); transform:scale3d(.475, .475, .475) translate3d(0, 60px, 0); -webkit-animation-timing-function:cubic-bezier(0.175, .885, .32, 1); animation-timing-function:cubic-bezier(0.175, .885, .32, 1) }
}

@keyframes artitemanimate{
    0%{ opacity:0; -webkit-transform: translate3d(0, 10px, 0); -ms-transform:translate3d(0, 10px, 0); transform:translate3d(0, 10px, 0); }
    80%{ opacity:1; -webkit-transform: translate3d(0, 0px, 0); -ms-transform:translate3d(0, 0px, 0); transform:translate3d(0, 0px, 0); }
}

.artitem>div{ -webkit-animation-name:artitemanimate; animation-name:artitemanimate;-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both  }


@media screen and (max-width: 992px){
    .artitem{float:none; margin:0 auto;}
    .main {  overflow-y: scroll; /*margin-top: 8vh;*/
        -webkit-overflow-scrolling: touch;
    }
}

